/* ---------------portfolio--------------- */
/*#portfolio{
    padding: 50px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container01{
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 0 20px;
}
.container01 .sub-title01{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 0px;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 390px;
    height: 370px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #272727;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/ryou04.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0044ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/*scroll up btn*/
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 40px;
    background: black;
    right: 10px;
    bottom: 50px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn{
    opacity: 1;
    pointer-events: auto;
}
.fa-solid{
    color: #fff;
}
.header-text{
    margin-top: 30%;
    text-align: left;
    padding-right: 150px;
    font-size: 30px;
}
.header-text p{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    letter-spacing: 4px;
}
.header-text h1{
    color: black; 
    font-size: 46px; 
    font-weight: bold; 
    letter-spacing: 0px; 
    line-height: 1; 
    text-align: left;
}
.header-text h1 span{
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 80px;
    font-weight: bold; 
    color: rgb(119, 8, 8);
}
/*----------------------------- About---------------------------- */
#about{
    padding: 85px 0;
    color: #ababab;
    background-color: #262626;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.about-col-2{
    flex-basis: 50%;
}
.about-col-2 p{
    font-size: 18px;
    text-align: justify;
}
.sub-title{ /*this one is used for all*/
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #fff;
}
/*------------------------------------ Blog -------------------------------------*/
#blog {
    padding: 50px 0;
    box-sizing: border-box;
  }
  .container01 {
    padding: 10px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 0 20px;
  }
  .sub-title01 {
    font-size: 40px;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
  }
  .container01 .sub-title01 + p{
    font-size: 24px;
    margin-bottom: 50px;
    color: #fff;
  }
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .blog-box {
    width: 330px;
    height: 330px;
    margin: 15px;
    background-color: #fff;
    border: 3px solid #ececec;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .blog-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .blog-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .blog-text {
    padding: 5px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    text-align: center;
  }
  .blog-text p {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0;
  }
/*--------------------------- lesson ------------------------------------------------ */
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  .container-lesson {
    max-width: 1350px;
    padding: 30px 10%;
    margin: 0 auto;
    text-align: center;
  }
  .container-lesson h1 {
    font-family: "Noto Sans JP", sans-serif;
    padding: 14px 10%;
    margin-top: 45px;
    font-size: 70px;
    text-align: center;
    color: white;
  }
  .container-lesson p {
    font-family: "Hannari", cursive;
    font-size: 40px;
    color: #fff;
  }
  section {
    text-align: center;
  }
  section h2 {
    font-family: "Nikukyu", sans-serif;
    position: relative;
    font-size: 32px;
    margin-bottom: 70px;
    text-align: center;
  }
  section h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 3px;
    background-color: #fff;
  }
  article {
    padding: 28px;
    border: 3px solid #0044ff;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #333;
  }
  article h3 {
    font-family: "Kosugi", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
  }
  article p {
    font-family: "Yusei Magic", sans-serif;
    font-size: 19px;
    margin-bottom: 0;
  }
  remark {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  remark h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  remark p {
    font-size: 24px;
    margin-bottom: 0;
  }

/*-------------------------------------------------------------------*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0044ff;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #005effac;
}
/* -----------------------------------contact-------------------------------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-left h1{
    font-size: 60px;
    font-weight: bold;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
    color: #0044ff;
    margin-right: 15px;
    font-size: 25px;
}
.fa-brands{
    text-decoration: none;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 40px;
    padding-bottom: 60px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0044ff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0044ff;
    color: #fff;
    font-size: 20px;
    padding: 10px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0055ff;
    transition: all 0.3s ease;
}
.btn.btn2:hover{
    color: #0055ff;
    background: none;
}
.btn.btn3{
    display: inline-block;
    background: #0044ff;
    font-size: 18px;
}
.btn.btn3:hover{
    color: #0055ff;
    background: none;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{ /*footer section*/
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    padding: 8px 0;
    background: #ababab15;
    font-weight: 300;
    margin-top: 40px;
}
.copyright p{
    font-size: 14px;
}
.copyright a{
    color: rgb(5, 7, 9);
    text-decoration: none;
}
.copyright a:hover{
    text-decoration: underline;
}
.copyright i{
    color: rgb(5, 7, 9);
}
/*------------------------------------------performances--------------------------------------------*/
#header1{
    width: 100%;
    height: 80vh;
    background-image: url(images/.jpg);
    background-size: 100% 150%;
    background-position: center;
}
.container1 h1{
    padding: 70px 10%;
    padding-bottom: 95px;
    font-size: 70px;
    text-align: center;
    color: white;
}
.container1 .video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
}
.video-container .video{
    height: 400px;
    width: 500px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.video-container .video video{
    height: 82%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.video-container .video h3{
    color: #080808;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.btn1{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 3px solid white;
    padding: 18px 40px;
    border-radius: 6px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn1:hover{
    background: #0055ff;
}
.copyright1{ /*footer section*/
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    padding: 8px 0;
    background: #ababab4c;
    font-weight: 300;
    margin-top: 60px;
} 
.copyright1 a{
    color: rgb(5, 7, 9);
    text-decoration: none;
}
.copyright1 p{
    color: #080808;
    font-size: 14px;
}
.copyright1 a:hover{
    text-decoration: underline;
}
.copyright1 i{
    color: rgb(5, 7, 9);
}
/*---------------------------------banner------------------------------------------*/
.banner{
    position: relative;
    background: url(images/banner03.JPG) no-repeat center bottom;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.container2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.container2 h1{
    margin: 0;
    font-size: 70px;
    padding-top: 30px;
}
.container2 h1 span{
    border: 10px solid #fff;
    padding: 14px 12px;
    display: inline-block;
}
.cen{
    margin: 20px;
    display: block;
    font-size: 26px;
}
/* ---------------------------------------css for small screen----------------------------------- */
nav .fa-solid{
    display: none;
}
@media (max-width: 768px) {
    #header {
      height: 100vh;
    }
    .header-text {
      margin-top: 10%;
    }
    .header-text h1 {
      font-size: 6vw;
    }
    .header-text p {
      font-size: 4vw;
    }
}
@media(min-width:768px) and (max-width:1024px){
    header {
        height: 100vh;
      }
}
@media(max-width:1250px){
    header {
        height: 100vh;
      }
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        width: 100%;
        margin: 20px 10px;
    }
}
@media only screen and (max-width: 650px){
    #header{
        height: 100vh;
    }
    
    .container{
        padding-bottom: 10px;
    }
    .scroll-up-btn{
        display: none;
    }
    .header-text{
        margin-top: 100%;
        font-size: 17px;
        padding-top: 100px;
        padding-right: 20px;
    }
    .header-text h1 span{
        font-size: 33px;
    }

    .header-text h1{
        font-size: 24px;
        text-align: left;
    }
    .header-text p{
        font-size: 15px;
        text-align: left;
        letter-spacing: 0px;
    }
    .logo{
        width: 150px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li a{
        color: white;
        font-size: 15px;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .blog-box{
        height: 320px;
        width: 320px;
        margin: 10px;
    }
    .blog-text p{
        margin: 0px 0;
        font-size: 0.8rem;
    }
    .blog-img{
        width: fit-content;
        height: auto;
    }
    .blog-text{
        padding: 10px;
    }
    .box{
        flex-direction: column;
    }
    .box .dream{
        width: 100%;
    }
    .box .dream img{
        padding-bottom: 20px;
    }
    #about{
        padding: 50px 0;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-1 img{
        width: 300px;
        height: 500px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-2 h1{
        margin-top: 0px;
        font-size: 40px;
    }
    .about-col-2 p{
        font-size: 16px;
    }
    .navigation-auto{
        width: 300px;
        margin-top:515px;
    }
    .navigation-manual{
        margin-top:-285px;
        width: 300px;
    }
    .contact-left h1{
        font-size: 40px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 6px;
        margin-top: 10px;
    }
    .copyright1{
        font-size: 6px;
    }
    .container01 .sub-title01{
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        padding-bottom: 0px;
    }
    .container01 .sub-title01 + p{
        font-size: 20px;
    }
    .container1{
        font-size: 20px;
        padding-bottom: 60px;
    }
    .message{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container-lesson{
        font-size: 20px;
    }
    .container-lesson h3{
        font-size: 30px;
        letter-spacing: 1px;
    }
    .container-lesson h3 span{
        font-size: 18px;
    }
    .banner{
        height: 250px;
        background-position: bottom;
    }
    .container2{
        color: white;
    }
    .container2 h1{
        font-size: 30px;
        padding-top: 30px;
    }
    .container2 h1 span{
        border: 5px solid #fff;
        padding: 10px 10px;
        display: inline-block;
    }
    .cen{
        font-size: 20px;
    }
    .btn1{
        margin: 20px auto;
        padding: 18px 10px;
        font-size: 20px;
    }
}
@media(max-width:750px){
    
    .container1 h1{
        padding: 30px 10%;
        padding-bottom: 50px;
        font-size: 40px;
    }
    
    .container1 .video-container .video{
        height: 300px;
        width: 350px;
    }
    .container1 .video-container .video video{
        height: 80%;
        width: 100%;
    }
    .video-container .video h3{
        font-size: 0.8rem;
        text-align: center;
        margin: 5px 0;
    }
    
}
#msg{
    color: #1143e8;
    margin-top: -40px;
    display: block;
}
/* Styles for screens smaller than 768px wide */
@media (max-width: 767px) {
    main {
      padding: 2rem 1rem;
    }
    .container-lesson h1 {
      font-size: 40px;
    }
    .container-lesson p {
      font-size: 28px;
    }
    section h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
    article h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    article p {
      font-size: 18px;
    }
    remark h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    remark p {
      font-size: 20px;
    }
  }
  
  /* Styles for screens between 768px and 1024px wide */
  @media (min-width: 768px) and (max-width: 1024px) {
    main {
      max-width: 768px;
      padding: 3rem 1.5rem;
    }
    .container-lesson h1 {
      font-size: 50px;
    }
    .container-lesson p {
    font-size: 32px;
    }
    section h2 {
      font-size: 28px;
      margin-bottom: 60px;
    }
    article h3 {
      font-size: 28px;
      margin-bottom: 20px;
    }
    article p {
      font-size: 20px;
    }
    remark h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    remark p {
      font-size: 22px;
    }
  }
  
  /* Styles for screens larger than 1024px wide */
  @media (min-width: 1025px) {
    main {
      max-width: 900px;
      margin: 0 auto;
      padding: 4rem 2rem;
    }
    .container-lesson {
      max-width: 1350px;
      margin: 0 auto;
      text-align: center;
    }
    .container-lesson h1 {
      font-size: 70px;
      padding: 10px 10%;
    }
    .container-lesson p {
      font-size: 40px;
    }
    section h2 {
      font-size: 32px;
      margin-bottom: 70px;
    }
    article h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    article p {
      font-size: 19px;
      margin-bottom: 0;
    }
    remark h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    remark p {
      font-size: 24px;
      margin-bottom: 0;
    }
  }